body {
    background-color: #E5E5E5;
}

.top {
    position: fixed;
    z-index: 1;
    display: flex;
    top: 0;
    justify-content: flex-start;
    flex-direction: column;
    width: 414px;
    height: 92px;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top h1 {
    margin-top: 38px;
    margin-left: 21px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 0px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.top h2 {
    margin-top: 30px;
    margin-left: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0px;
    color: #FFFFFF;
}

.mid {
    position: absolute;
    margin-top: 96px;
    margin-left: 19px;
}

.mid h1 {
    margin-top: 27px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}

.container_box {
    display: flex;
}

.item_box {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    margin-right: 16px;
    width: 172px;
    height: 216px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px; 
}

.item {
    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.item h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.item h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

.item h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}